<form>
  <div class="mb-3">
    <label for="receiver" class="form-label">Number to call</label>
    <input type="tel" disabled required id="receiver" placeholder="+12027075000" class="form-control" />
    <div id="status" class="form-text"></div>
  </div>

  <p>
    <button type="submit" disabled id="call" class="btn btn-primary">Call</button>
    <button type="reset" disabled id="hangup" class="btn btn-danger">Hang Up</button>
  </p>
</form>
